{% extends "base.html" %}

{% block content %}

<div class="card" style="min-height:300px;padding:30px;margin:25%;margin-top:1%;">
    <header class="fs-4">
        Allowance
    </header>

     <form action="{{ url_for('edit_allowance') }}" method="POST" >
            {{ form.hidden_tag() }}
            <!--  CSRF Token -->
          <div class="row mt-2">
                <div class="col-md-12">
                    <div class="form-group" style="width:100%">
                        <label>Amount <span class="text-danger">*</span></label>
                        {{ form.amount(class_="form-control", placeholder="Amount") }}
                    </div>
                </div>
          </div>
         <div class="row mt-2">
                <div class="col-md-12">
                    <div class="form-group" style="width:100%">
                        <label>Frequency <span class="text-danger">*</span></label>
                        {{ form.frequency(class_="form-control", placeholder="Frequency") }}
                    </div>
                </div>
          </div>

         <div class="row mt-5">
             <div class="col-md-12">
                 <button type="submit" class="btn btn-primary"  style="width:100%">Update Allowance</button>
             </div>

         </div>

        </form>
</div>

{% endblock %}
